{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname, { label: 'Prénom' }) }}
        {{ form_row(registrationForm.lastname, { label: 'Nom' }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, { label: 'Mot de passe' }) }}

        <button type="submit" class="btn btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}

    <a href="{{ path('app_login') }}">Déjà inscrit ? Connectez-vous ici</a>
{% endblock %}

